.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    margin: 20px 0;
    position: relative;
    
  }
  
  .Cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-image {
    position: relative;
    background:#fafafa;
    width: 100%;
    text-align: center;
    overflow:hidden;
     padding: 10px; 
  }
  .product-image img {
    min-width: 100%;
    height: 300px;
    cursor: pointer;
  }
  
  .new {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f00;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }
  
  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-name {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .add-to-cart {
    background-color: #008cba;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #006b8f;
  }
  